@import 'variables'; // Certifique-se de que o caminho do arquivo esteja correto


.app-container {
  background-color: #f8faff;
  width: 1920px;
  top: 0;
  // left: 50%;
  position: absolute;
  transform: translateX(-50%);
  

  }



  