@import './variables.scss';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.app-container {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }



  .linha{
    position: absolute;
    right: 0px;
    top: 444px;
  }

  .linha-96{
    position: absolute;
    left: 60px;
    top: 820px;
    z-index: 0;
  }
  .linha-97{
    position: absolute;
    left: 95px;
    top: 820px;
  }
  .linha-98{
    position: absolute;
    left: 128px;
    top: 820px;
  }
  .linha-99{
    position: absolute;
    left: 163px;
    top: 820px;
  }






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
