@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family-main: 'Inter', sans-serif;


$font-size-small: 12px;
$font-size-sm-x: 14px;
$font-size-sm-xx: 16px;
$font-size-md: 20px;
$font-size-md-x: 24px;
$font-size-md-xx: 32px;
$font-size-lg: 40px;
$font-size-lg-x: 48px;
$font-size-lg-xx: 56px;
$font-size-gg: 64px;
$font-size-gg-x: 72px;
$font-size-gg-xx: 80px;


$font-weight-sm: 100;
$font-weight-sm-x: 200;
$font-weight-sm-xx: 300;
$font-weight-md: 400;
$font-weight-md-x: 500;
$font-weight-md-xx: 600;
$font-weight-lg: 700;
$font-weight-lg-x: 800;
$font-weight-lg-xx: 900;

$line-height-sm: 14px;
$line-height-sm-x: 16px;
$line-height-sm-xx: 20px;
$line-height-md: 24px;
$line-height-md-x: 32px;
$line-height-md-xx: 40px;
$line-height-lg: 48px;
$line-height-lg-x: 56px;
$line-height-lg-xx: 64px;
$line-height-gg: 72px;
$line-height-gg-x: 80px;
$line-height-gg-xx: 88px;
